.header-spacer {
    flex: 1 1 auto;
  }

  .mat-drawer-container {
    position: static;
  }

  .header-icon {
    margin: 0 5px 0 0;
    float: left;
  }

  .mat-toolbar {
    position: relative;
  }
  
  .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -23px;
  }

  .search-form-container {
    .mdc-text-field--filled {
      border-radius: 50px !important;
    }
  }