.list-container {
    .product-container{
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        padding: 10px;
        max-width: 300px;
        .imgage-container {
            img {
                width: 100px;
                height: auto;
                border-radius: 20px;
            }
        }
        .product-details {
            h3 {
                margin-bottom: 5px;
            }
        }
    }
}