<div class="container-fluid poll">
    <div class="row content">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <p><strong>Can we fix the issue of global warming?</strong></p>
            <ul>
                <li>Yes, I think it could be possible if the rest of the world make their contribution against this issue</li>
                <li>Maybe, because even people know what is going on not many are interest in contributing against global warming</li>
                <li>No, peole do not want to help</li>
                <li><button mat-raised-button color="primary">Primary</button></li>
            </ul>
        </div>
    </div>
</div>