<div class="container-fluid p-lg-0 p-md-0 p-sm-0 poll">
    <div class="row content">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p><strong>Can we fix the issue of global warming?</strong></p>
            <ul class="container">
                <li><mat-radio-button value="1" color="primary">Yes, I think it could be possible if the rest of the world make their contribution against this issue</mat-radio-button></li>
                <li><mat-radio-button value="2" color="primary">Maybe, because even people know what is going on not many are interest in contributing against global warming</mat-radio-button></li>
                <li><mat-radio-button value="3" color="primary">No, peole do not want to help</mat-radio-button></li>
                <li><button mat-raised-button color="primary" class="row align-items-center bottom-border">Primary</button></li>
            </ul>
        </div>
    </div>
</div>