<h2 mat-dialog-title>Register</h2>
<mat-dialog-content class="mat-typography">
    <!--
    <form formGroupName="mainForm">
        <input type="text" class="form-control" formControlName="fname" placeholder="Joe">
        <input type="text" class="form-control" formControlName="lname" placeholder="Doe">
        <input type="text" class="form-control" formControlName="fname" placeholder="JoeDoe@email.com">
        <button>Submit</button>
    </form>
-->
    <form formGroupName="mainForm">
        <div class="container">
            <div class="row">
                <p class="mb-2">Please fill out all information with the asterik</p>
                <div class="col-lg-3 margin-bottom-10">
                    <sup>*</sup><label for="name">Name: </label>
                </div>
                <div class="col-lg-9 mb-2">
                    <input name="name" type="text" class="form-control"  placeholder="Joe" />
                </div>
                <div class="col-lg-3 mb-2">
                    <sup>*</sup><label for="lname">Last name: </label>
                </div>
                <div class="col-lg-9 mb-2">
                    <input name="lname" type="text" class="form-control"  placeholder="Joe" />
                </div>
                <div class="col-lg-3 mb-2">
                    <sup>*</sup><label for="email">Email: </label>
                </div>
                <div class="col-lg-9 mb-2">
                    <input name="email" type="email" class="form-control"  placeholder="Joe" />
                </div>
                <div class="col-lg-3 mb-2">
                    <sup>*</sup><label for="email">Password: </label>
                </div>
                <div class="col-lg-9 mb-2">
                    <input name="password" type="email" class="form-control"  placeholder="Joe" />
                </div>
                <div class="col-lg-3 mb-2">
                    <sup>*</sup><label for="dob">Date of birth: </label>
                </div>
                <div class="col-lg-9 mb-2">
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!--<input name="dob" type="email" class="form-control"  placeholder="Joe" />-->
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary">Submit</button>
</mat-dialog-actions>

